extends test-base

block title
	title enum.js test

block append style
	style
		include:sass query.sass

block append body
	script(type='module').
		import * as main from './enum-test.js'
		Object.assign(window, main)
